<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hao.show">

    <!-- 用于自定义一个权限 -->
    <!-- 声明一个新的权限 -->
    <permission android:name="com.hao.MI"/>
    <!-- 使用一个新的权限 -->
    <uses-permission android:name="com.hao.MI"/>
    <!--  -->

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-feature
            android:name="android.hardware.camera"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.camera.autofocus"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.camera.front"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.camera.front.autofocus"
            android:required="false"/>

    <application
            android:name=".base.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <!--<activity android:name=".moudle.main.AdvertActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN"/>-->

                <!--<category android:name="android.intent.category.LAUNCHER"/>-->
                <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <activity android:name=".moudle.main.MIDrawActivity">

        </activity>
        <activity android:name=".moudle.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".moudle.main.novel.NovelActivity">
        </activity>
        <activity android:name=".moudle.main.novel.NovelDetailActivity">
        </activity>
        <activity android:name=".moudle.main.novel.NovelContentActivity">
        </activity>
        <activity
                android:name=".moudle.face.FaceActivity"
                android:screenOrientation="landscape">
        </activity>
        <activity android:name=".moudle.main.novel.NovelLooksActivity">
        </activity>
    </application>

</manifest>